h1{
    text-align: center;
    color: black;
    background-color: #abbaba;
}
h2{
    text-align: center;
    background-color: blanchedalmond;
}
footer{
    text-align: center;
    background-color: #abbaba;
    padding: 0cm;
}